<h1> Create a New Car Listing </h1>

<%= flash[:notice] %>

<%= form_for @car do |f| %>

<%if @car.errors.any? %>
<ul>
  <% @car.errors.full_messages.each do |msg|%>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<div>
  <%= f.label :manufacturer %>
  <%= f.collection_select(:manufacturer_id, Manufacturer.all, :id, :name) %>

<div>
  <%= f.label :year %>
  <%= f.text_field :year %>
</div>

<div>
  <%= f.label :color %>
  <%= f.text_field :color %>
</div>

<div>
  <%= f.label :mileage %>
  <%= f.text_field :mileage %>
</div>

<div>
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>

<div>
  <%= f.submit "Submit" %>
</div>

<% end %>
